.footer {
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 4rem;
    gap: 2rem;
}

.footer h2 {
    font-size: 2.25rem;
    font-weight: 600;
}

.footer p {
    font-size: 1.2rem;
    color: var(--text-color);
}

input[type="email"] {
    width: 360px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--text-color);
}

input[type="email"]::placeholder {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
}

input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--main-bg-color);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
    font-weight: 500;
}

.footer p ~ p {
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .footer {
        text-align: center;
        padding: 2rem 1rem;
    }

    .footer h2 {
        font-size: 1.5rem;
    }

    input[type="email"] {
        margin-bottom: 1rem;
    }
}